<div class="edit-event">
  <br>
  <div class="container">
    <h1><strong>Edit Event</strong></h1><br>
    <%= render 'events/form',
      button_name: 'Submit Change',
      button_type: 'btn btn-primary button' %>
  </div><br><br>
</div>
