<div class="new-event">
  <br>
  <div class="container">
    <h1><strong>New Event</strong></h1><br>
    <%= render 'events/form',
      button_name: 'Create Event',
      button_type: 'btn btn-success button' %>
  </div><br><br>
</div>